.main-nav-container{
    display: flex;
    font-size: 18px;
    float: right;
}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-link{
    display: inline;
    padding-right: 20px;
    color: #777777;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.nav-link:hover{
    color: black;
  }

  .App{
    min-height: 100vh;
    background: white;
    position: relative;
    z-index: 1; 
  }